
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap')
;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B0E0E6;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 18px 25px 25px;
    background: #ffebb2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}
.display{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    padding: none;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 5px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
}
.buttons{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffff;
}
.buttons button:active {
    transform: 0.99;
}
.operator{
    color: #2f9fff;
}
#history {
    height: 400px;
    width: 240px;
    background: #efbc9b;
    padding-left: 10px;
    padding-top: 10px;

}

.data_history {
    color: black;
    padding: 3px;
}

        